// Variables

//Font Variables
$primaryFont: 'Circular Std Book';
$secondaryFont: 'Circular Std';
$tertiaryFont : 'Poppins', sans-serif;
// $tertiaryFont: 'Circular Std';


// Color Variables
$primaryColor: #fff;
$secondaryColor: #5d6076;
$tertiaryColor: #1d252d;
$quaternary: #000;
$quinary: #8593a2;
$senary: #161a1e;
$septenary: #2b2d3c;
$octonary: #65656f;
$nonary: #ff6600;
$denary: #474747;
$colorXI: #a5a2b0;
$colorXII: #424254;
$colorXIII: #817c90;

$elementsColor:#fe4646;
$elementsColorII:#f3f3f3;
$elementsColorIII:#4cc083;
$elementsColorIV:#3d84c6;
$elementsColorV:#fcc73e;


