.s{
    font-family: PlayfairDisplay-BlackItalic;
    font-size: 90px;
    color: #333;
    line-height: 1.1;


}

@font-face {
    font-family: PlayfairDisplay-BlackItalic;
    src: url('fonts/PlayfairDisplay-BlackItalic.ttf'); 
  }


  .img1 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
   }


   .r1{
float: left;

   }
   .l2{
       float: right;
   }